/* Footer Positioning */
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

main {
  flex: 1;
}

footer {
  margin-top: auto;
}

/* Animation styles */
.grid > a {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effects */
.hover\:shadow-lg:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transform: translateY(-2px);
}

/* Logged-in user styles */
.logged-in {
  font-weight: 600;
  color: #bef264;
}

#logout-btn,
#mobile-logout-btn {
  padding: 4px 8px;
  background-color: rgb(185, 28, 28);
  border-radius: 4px;
  cursor: pointer;
}

#logout-btn:hover,
#mobile-logout-btn:hover {
  background-color: rgb(220, 38, 38);
}
